# Nom de notre workflow
name: "Build and deploy Github pages"

# Événements sur lesquels il doit être déclenché
on:
  push:         # <- Déclenché lorsque l'on pousse du code...
    branches:
      - master  # <- ... mais seulement sur la branche "master"

jobs:

  # Notre job
  build-and-deploy:
    runs-on: ubuntu-latest

    # Tâches à effectuer, comme expliquées ci-dessus
    steps:

      # 1. On récupère le contenu du dépôt

      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      # 2. Partie spécifique à Sphinx (installation des
      #    dépendances et génération de la doc)

      - name: "Set up Python"
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: "Install Python dependencies"
        run: |
          pip3 install setuptools
          pip3 install sphinx sphinx-rtd-theme
          pip3 install numpydoc
          pip3 install myst_nb
          python -m pip install --upgrade pip
          pip install markupsafe==2.0.1
          pip install numpy
          pip install -e .
          pip install pyapr>=1.0.0rc1

      - name: "Build Sphinx Doc"
        run: |
          cd doc
          make html

      # 3. Déploiement sur les Github Pages

      - name: "Deploy Github Pages"
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages     # <- Branche sur laquelle seront commités les fichiers
          FOLDER: doc/build/html/  # <- Dossier contenant notre documentation générée